body {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-size: large;
    color: #444;
    
    background: #EFEFEF;
    margin: 0;
}

header, footer {
    background: #026;
    color: white;
    padding: 1em 10%;
}

header {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 12em;
}

nav {
    background: white;
    margin-bottom: 1em;
    box-shadow: 0px 2px 2px #999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    display: block;
    padding: 3em 1em 0.5em 1em;
    background-repeat: no-repeat;
    background-size: 2.4em;
    background-position: center 0.5em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

nav a:hover {
    color: transparent;
    background-position: center;
    background-size: 4em;
}

.home {
    background-image: url("../images/home.png");
}

.about {
    background-image: url("../images/about.png");
}

.news {
    background-image: url("../images/news.png");
}

.contact {
    background-image: url("../images/contact.png");
}

article {
    width: 45%;
    float: right;
    margin-right: 10%;
}

aside {
    width: 30%;
    float: left;
    margin-left: 10%;
}

footer {
    clear: both;
}

figure img, figure video, figure iframe {
    max-width: 100%;
}

figure {
    text-align: center;
    padding: 0;
    margin: 1em 0;
}

@media screen and (max-width:730px) {
    header {
        background-position: center 1em;
        text-align: center;
        padding-top: 3.5em;
        font-size: 0.8em;
    }
    
    article, aside {
        float: none;
        width: auto;
        margin: 1em 10%;
    }
}




